* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* typograpghy */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* body */

body {
  background-color: rgb(20, 5, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

main {
  background-color: rgb(32, 18, 79);
  width: 20rem;
  /* height: 80vh; */
  border-radius: 1rem;
  padding-bottom: 2rem;
  position: relative;
  color: white;
}

.container > h1,
.container > p {
  text-align: center;
  margin-top: 1.5rem;
}

.container > p {
  line-height: 1.5rem;
  font-size: 16px;
  color: rgb(176, 165, 199);
  text-align: center;
  width: 75%;
}

.container > h1 {
  font-weight: 700;
  font-size: 2rem;
  width: 90%;
}

main .opacity {
  position: absolute;
  background-color: blueviolet;
  opacity: 0.5;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 15rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1.5rem; */
}

.first > p,
.second > p,
.last > p {
  text-align: center;
  font-size: 1rem;
}

.first,
.second,
.last {
  margin-top: 1rem;
}

.lastb {
  margin-top: 0.2rem;
  color: rgb(176, 165, 199);
}

/* Styles for mobile devices */
@media (max-width: 1000px) {
  .responsive-image {
    content: url(./images/image-header-mobile.jpg);
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 15rem;
  }
}

/* Styles for desktop devices */
@media (min-width: 1000px) {
  .responsive-image {
    content: url(./images/image-header-desktop.jpg);
    border-radius: 0 1rem 1rem 0;
    height: 100%;
    width: 30rem;
    overflow: hidden;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
    width: 60rem;
  }

  .deskCon {
    position: relative;
  }

  main .opacity {
    position: absolute;
    background-color: rgb(177, 13, 180);
    opacity: 0.4;
    border-radius: 0 1rem 1rem 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
  }

  .container {
    display: inline-block;
    padding: 3rem;
    padding-right: 3rem;
    align-items: left;
    height: 100%;
    width: 100%;
  }

  .container > h1,
  .container > p {
    text-align: left;
    padding-inline: 0;
    padding-block: 0;
  }

  .container > h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .container > p {
    text-align: left;
    width: 75%;
    font-size: 14px;
  }

  .first > p,
  .second > p,
  .last > p {
    text-align: left;
    font-size: 20px;
  }

  footer {
    display: flex;
    /* justify-content: space-between; */
    gap: 3.5rem;
    margin-top: 2rem;
  }

  .first .lastb,
  .second .lastb,
  .last .lastb {
    /* border: 1px solid; */
    font-size: 12px;
  }
}
